.card{
    margin:auto;
    margin-top: 9rem;
    height: 400px;
}
#body{
   background-color: #686de0;
}
#button{
    width: 100%;
    background-color:#4834d4;
    color: white;
    border-radius: 5px;
}
#button:hover{
    background-color:#686de0 ;
}
#input-group{
    margin-top: 3rem;
}
.a{
    text-decoration: none;
    text-align: center;
}
.img-fluid{
    height: 10px;
}
#img2{
    display: none;
}
@media ( max-width:989px ){
    .card{
        height: 350px;
        margin-top: 13rem;
        border-radius: 10px;
    }
    .card img{
        width: 100%;
    }
    #img{
        display: none;

    }
}
